<%= flash[:notice] %>

<p>
  <strong>Title</strong>
</p>
<p><%= @book.title %></p>

<p>
  <strong>Body</strong>
</p>
<p><%= @book.body %></p>

<sapn>
  <%= link_to "Edit", book_edit_path %>
  <%= link_to "Back", books_path %>
</sapn>